@media screen and (min-width: 300px){
    .box{
        left: 0px;
        top: 0px;
        /*width: 100%; */
        width: 100%;
        height: 45px;
        line-height: 45px;
        background-color: rgba(0, 118, 255, 1);
        color: rgba(255, 255, 255, 1);
        font-size: 14px;
        text-align: center;
        font-family: Roboto;
        border: 1px solid rgba(187, 187, 187, 1);
    }
    .top{
       
        width: 100%;
        height: 101px;
   
        border: 1px solid rgba(187, 187, 187, 1);
    }
    .count{
        width: 90%;
        height: 50px;
        margin: 0 auto;
        flex-wrap: wrap;

    }
    .count span{
        left: 288px;
        top: 130px;
        width: 100px;
        height: 40px;
        line-height: 20px;
        border-radius: 4px 4px 4px 4px;
        background-color: rgba(230, 241, 252, 1);
        text-align: center;
        border: 1px solid rgba(163, 208, 253, 1);
        color: rgba(255, 255, 255, 1);
        font-size: 12px;
        margin-right: 12px;
    }
}




@media screen and (min-width: 300px) and (max-width: 1200px) {
    .box{
        left: 0px;
        top: 0px;
        /*width: 100%; */
        width: 100%;
        height: 45px;
        line-height: 45px;
        background-color: rgba(0, 118, 255, 1);
        color: rgba(255, 255, 255, 1);
        font-size: 14px;
        text-align: center;
        font-family: Roboto;
        border: 1px solid rgba(187, 187, 187, 1);
        
    }
    .top{
      
        width: 1440px;
        height: 101px;
        border: 1px solid rgba(187, 187, 187, 1);
    }
    .count{
        width: 90%;
        height: 50px;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .count span{
        left: 288px;
        top: 130px;
        width: 100px;
        height: 40px;
        line-height: 20px;
        border-radius: 4px 4px 4px 4px;
        background-color: rgba(230, 241, 252, 1);
        text-align: center;
        border: 1px solid rgba(163, 208, 253, 1);
        color: rgba(255, 255, 255, 1);
        font-size: 12px;
        margin-right: 12px;
    }
}


@media screen and (max-width: 1200px){
    .box{
        left: 0px;
        top: 0px;
        /* width: 1440px; */
        width: 100%;
        height: 45px;
        line-height: 45px;
        background-color: rgba(0, 118, 255, 1);
        color: rgba(255, 255, 255, 1);
        font-size: 14px;
        text-align: center;
        font-family: Roboto;
        border: 1px solid rgba(187, 187, 187, 1);
    }
    .top{
       
        width: 100%;
        height: 101px;
        border: 1px solid rgba(187, 187, 187, 1);
    
    }
    .count{
        width: 90%;
        height: 50px;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .count span{
        left: 288px;
        top: 130px;
        width: 100px;
        height: 40px;
        line-height: 20px;
        border-radius: 4px 4px 4px 4px;
        background-color: rgba(230, 241, 252, 1);
        text-align: center;
        border: 1px solid rgba(163, 208, 253, 1);
        color: rgba(255, 255, 255, 1);
        font-size: 12px;
        margin-right: 12px;
    }
}