
 



@media screen and (min-width: 400px) {

    .parent{
        display: flex;
        flex-flow: column wrap;
    }
    .side {
        height: 50px;
        background-color:  rgba(0, 118, 255, 1);
        display: flex;
        justify-content: center;
        color: #fff;
        align-items: center;
    
    }
    .tap{
        width: 95%;
        height: 80px;
        border-bottom: 1px solid #ccc;
        display: flex;
        align-items: center;
        margin: 15px auto;
        line-height: 20px;
        text-align: center;
        border: 1px solid rgba(187, 187, 187, 1);
        font-size:14px; 
        padding: 0 15px;
        font-size: 14px;
    }
    .tap span{
        display: flex;
        margin-right: 15px;
        width: 60px;
        height: 35px;
        left: 205px;
        top: 159px;
        line-height: 20px;
        border-radius: 4px;
        background-color: rgba(24, 144, 255, 1);
        text-align: center;
        align-items: center;
        justify-content: center;
        color: #fff;
        border-radius: 4px;
    }
    .box{
        width: 100%;
        height: 60px;
        display: flex;
    }
    .main{
        height: 300px;
        background: #ccc;
    }
    .foot{
        left: 43px;
        top: 868px;
        width: 95%;
        height: 70px;
        line-height: 20px;
        background-color: rgba(242, 241, 241, 1);
        text-align: center;
        margin: 0 auto; 
}
}




@media screen and (min-width: 400px) and (max-width: 1200px) {

    body {
        margin: 0;
        padding: 0;
    }
    .side {
        height: 50px;
        background-color:  rgba(0, 118, 255, 1);
        display: flex;
        justify-content: center;
        color: #fff;
        align-items: center;
    }
    .tap{
        width: 95%;
        height: 60px;
        border-bottom: 1px solid #ccc;
        display: flex;
        align-items: center;
        margin: 15px auto;
        line-height: 20px;
        text-align: center;
        border: 1px solid rgba(187, 187, 187, 1);
        font-size:12px; 
    }
    .tap span{
        display: flex;
        margin-right: 15px;
        width: 50px;
        height: 30px;
        left: 205px;
        top: 159px;
        line-height: 20px;
        border-radius: 4px;
        background-color: rgba(24, 144, 255, 1);
        text-align: center;
        align-items: center;
        justify-content: center;
        color: #fff;
        border-radius: 4px;
        font-size: 12px;
    }
    .box{
        width: 100%;
        height: 60px;
       font-size: 14px;
    }
    .main{
        height: 300px;
        background: #ccc;
    }
    .foot{
        left: 43px;
        top: 868px;
        width: 95%;
        height: 70px;
        line-height: 20px;
        background-color: rgba(242, 241, 241, 1);
        /* text-align: center; */
        margin: 0 auto;
        display: flex;
    }
}
@media screen and (max-width: 1200px){
    body {
        margin: 0;
        padding: 0;
    }
    .side {
        height: 50px;
        background-color:  rgba(0, 118, 255, 1);
        display: flex;
        justify-content: center;
        color: #fff;
        align-items: center;
        font-size: 14px;
    }
    .tap{
        width: 95%;
        height: 60px;
        border-bottom: 1px solid #ccc;
        display: flex;
        align-items: center;
        margin: 15px auto;
        line-height: 20px;
        text-align: center;
        border: 1px solid rgba(187, 187, 187, 1);
        font-size:12px; 
    }
    .tap span{
        display: flex;
        margin-right: 15px;
        width: 60px;
        height: 35px;
        left: 205px;
        top: 159px;
        line-height: 20px;
        border-radius: 4px;
        background-color: rgba(24, 144, 255, 1);
        text-align: center;
        align-items: center;
        justify-content: center;
        color: #fff;
        border-radius: 4px;
        font-size: 12px;
    }
    .box{
        width: 100%;
        height: 60px;
        font-size: 12px;
       
    }
    .main{
        height: 300px;
        background: #ccc;
    }
    .foot{
        left: 43px;
        top: 868px;
        width: 95%;
        height: 70px;
        line-height: 20px;
        background-color: rgba(242, 241, 241, 1);
        /* text-align: center; */
        margin: 0 auto;
        display: flex;
    }
    
}
