html,body{
    width: 100%;
    height: 100%;
}
:global(.all){
    width: 100%;
    height: 100%;
}
@media screen and (max-width:768px){
    html,body{
        font-size: calc(100/750*100vw);
    }
    .all{
        display: flex;
        
        flex-direction: column;
        font-size: 14px;
        .head{
            height: calc(.5rem*2);
            background: #0076FF;
            text-align: center;
            line-height: calc(.5rem*2);
            color: #fff;
        }
        .tabmain{
            flex: 1;
            .tabnav{
                height: calc(.5rem*2);
                border: 1px #ccc solid;
                width: 100%;
                display: flex;
                margin: 10px auto;
                .tabnavleft{
                    flex: 5;
                    span{
                        margin: 10px;
                        line-height: calc(.5rem*2);
                    }
                }
                .tabnavright{
                    float: right;
                    input{
                        border: 1px #ccc solid;
                        
                    }
                }
            }
            .content{
                width: 100%;
                border: 1px;
                height: auto;
                display:table-cell;
                tr{
                    height: calc(.3rem*2);
                    width: auto;
                    text-align: center;
                    border-bottom: .5px #e5e5e5 solid;
                    
                }
                .title{
                    background: #e5e5e5;
                    width:auto
                }
            }
         
        }
    }
}
@media screen and (min-width:768px){
    .all{
        width: 100%;
        height: 100%;
        font-size: 14px;
       
        .head{
            position: fixed;
            top:0;
            left:0;
            height: 100px;
            width: 100%;
            background: #0076FF;
            color: #fff;
            text-align: center;
            line-height: 100px;
           
        }
        
        .tabmain{
            width: 90%;
            height: 100%;
            margin: auto;
            .tabnav{
                width: 100%;
                height: 100px;
                border: 1px #ccc solid;
                margin: 10px auto;
                .tabnavleft{
                    float: left;
                    width: 60%;
                    span{
                        margin: 30px;
                        line-height: 100px;
                    }
                    
                }
                .tabnavright{
                    width: 40%;
                    float: right;
                    input{
                        border: 1px #ccc solid;
                        margin: auto;
                    }
                }
            }
            .content{
                width: 100%;
                height: auto;
                margin: 10px auto;
                border: 1px;
                tr{
                    height: 40px;
                    width: auto;
                    text-align: center;
                   border-bottom: .5px #e5e5e5 solid;
                }
                .title{
                    background: #e5e5e5;
                }
            }
        }
    }
}